<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <script src="js/libs/angular.js"></script>
    <script src="js/libs/angular-ui-router.js"></script>
    <script src="js/libs/lodash.js"></script>
    <script src="js/app.js"></script>
    <script src="js/mainModule.js"></script>
    <link href="css/deck.css" rel="stylesheet" />
    <title></title>
</head>
<body ng-app="main">
    <div ng-controller="deckInputController">
        <span>Deck Name</span>
        <span>Metagame Share</span>
        <div class="deckContainer" ng-repeat="_deck in decks" ng-click="selectDeck(_deck)" ng-class="{selected: deckIsSelected(_deck)}">
            <input type="text" ng-model="_deck.name" />
            <input type="text" ng-model="_deck.share" />
            <span>%</span>
        </div>
        <button class="addDeckButton" ng-click="addDeck()">Add Deck</button>

        <div class="matchupContainer">
            <span>{{selectedDeck.name}} matchups:</span>
            <div ng-repeat="_otherDeck in unselectedDecks()">
                <span>VS {{_otherDeck.name}}:</span>
                <input type="text" ng-model="selectedDeck.matchups[_otherDeck.id]" ng-change="syncMatchup(selectedDeck, _otherDeck)" />
                <span>%</span>
            </div>
        </div>
    </div>
</body>
</html>